@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --container-width: 1800px;
  --container-padding: 50px;
}

body {
  font-size: 20px;
  line-height: 38px;
  background-color: #f7f7f7;
  color: #35384b;
  @apply font-sans;
}

@media screen and (max-width: 767px) {
  html {
    overflow-x: hidden;
  }
}

h1 {
  @apply lg:leading-snug mb-4 font-sans font-semibold;
  font-size: clamp(2rem, 5vw + 1rem, 3.5rem);
  letter-spacing: -0.02em;
}

h2 {
  @apply lg:leading-[1.2] mb-4 font-sans tracking-tight font-medium;
  font-size: clamp(1.8rem, 4vw + 0.9rem, 3rem);
  letter-spacing: -0.02em;
}

h3,
h4,
h5,
h6 {
  @apply font-sans font-semibold;
}

h3 {
  font-size: clamp(1.6rem, 3vw + 0.8rem, 2.5rem);
}

h4 {
  font-size: clamp(1.4rem, 2vw + 0.7rem, 2rem);
}

h5 {
  font-size: clamp(1.2rem, 1.5vw + 0.6rem, 1.5rem);
}

h6 {
  font-size: clamp(1rem, 1vw + 0.5rem, 1.25rem);
}

.header_outer {
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background-color: #fff;
}
@media (min-width: 768px) {
  .header_outer {
    width: calc(100% - var(--container-padding) * 1);
    max-width: calc(var(--container-width) - var(--container-padding) * 2);
  }
}
@media (min-width: 1280px) {
  .header_outer {
    width: calc(100% - var(--container-padding) * 2);
  }
}

.fluid_container {
  width: calc(100% - var(--container-padding) * 2);
  max-width: calc(var(--container-width) - var(--container-padding) * 2);
  margin-left: auto;
  margin-right: auto;
}

@media (max-width: 768px) {
  .fluid_container {
    width: calc(100% - var(--container-padding) * 1);
  }
}

.blog_teaser .pseudo_blok {
  display: block;
  font-weight: 600;
  color: #000;
}

.blog_teaser .pseudo_blok + span {
  display: none;
}

.blog_teaser .meta_info span {
  font-size: 0.85rem;
  color: #000;
  line-height: 1.1;
}

.blog_teaser .author_img {
  width: 35px;
  height: 35px;
}

.card_meta .meta_info {
  justify-content: flex-start !important;
}

.html-content iframe {
  width: 100%;
  border-radius: 5px;
}

.g-cols-2 {
  @apply grid-cols-1 md:grid-cols-2;
}

.g-cols-3 {
  @apply grid-cols-1 md:grid-cols-3;
}

.g-cols-4 {
  @apply grid-cols-1 md:grid-cols-3 lg:grid-cols-4;
}

.itemsCenter {
  @apply items-center;
}

.textCenter {
  @apply text-center;
}

.textRight {
  @apply text-right;
}

.constrained {
  @apply lg:max-w-7xl lg:rounded-xl md:px-14;
}

.constrained .grid_block {
  @apply mt-0 mb-0;
}

.m-w-4xl {
  @apply max-w-[90%] md:max-w-4xl;
}

.m-w-5xl {
  @apply max-w-[90%] md:max-w-5xl;
}

.m-w-6xl {
  @apply max-w-[90%] md:max-w-6xl;
}

.m-w-7xl {
  @apply max-w-[90%] md:max-w-7xl;
}

.content_block {
  @apply [&>h2]:pt-4 [&>p>img]:rounded-2xl [&>p]:text-lg [&>p]:py-4 [&>p]:leading-8 [&>ul]:mb-8 [&>ul]:list-disc [&>ul]:pl-4 [&>ul>li]:leading-8 [&>ul>li]:mb-4 [&>ol]:list-decimal [&>ol]:pl-4 [&>ol>li]:leading-8 [&>ol>li]:mb-4 mb-10 px-7;
}

.image_text_split .content_block {
  @apply px-0;
}

.table-of-content {
  @apply md:block md:absolute top-0 bottom-0;
}

@media (max-width: 767px) {
  .table-of-content {
    position: fixed;
    top: 110px;
    left: 0;
    background: #fff;
    width: 100%;
    bottom: auto;
    z-index: 20;
  }

  .table-of-content nav {
    background-color: #fff;
  }

  .in-article {
    position: fixed;
    left: 0;
    right: 0;
    top: 95px;
    z-index: 21;
    background: #1f1f1f;
    padding: 1px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    text-transform: uppercase;
    width: 86%;
    margin: auto;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .dnw__arrow {
    width: 0;
    height: 0;
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 8px solid #fff;
    margin-left: 12px;
  }
}

.h1_style {
  color: #000 !important;
  @apply text-3xl lg:text-4xl xl:text-5xl font-bold tracking-tight pt-5 mb-7 leading-tight lg:leading-[3.25rem] text-center;
}

.table-content {
  overflow-x: auto;
}

.table-content table {
  width: 100%;
}

.table-content table td {
  vertical-align: top;
  padding: 5px;
  font-size: 17px;
}

.table-content table tr:nth-child(even) {
  background-color: #f1f5f9;
}

.breadcrumb li {
  position: relative;
  display: flex;
  align-items: center;
}

.breadcrumb li::after {
  content: ">";
  margin-left: 5px;
  margin-right: 5px;
}

.breadcrumb li:last-child:after {
  display: none;
}

/* Fallback for older browsers */
.content_block a {
  color: #a82a00;
}
/* Override for modern browsers using :not() */
.content_block a:not(.bttn):not(.primary_btn) {
  color: #a82a00;
}
/* Explicitly reset the styles for .bttn and .primary_btn in case :not() is not supported */
.content_block a.bttn,
.content_block a.primary_btn {
  color: initial;
}

.header-transition {
  left: 0;
  right: 0;
  transition: transform 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
  will-change: transform, box-shadow;
}

@media (max-width: 767px) {
  .header-transition {
    max-width: 90%;
  }
}

.hide_header {
  transform: translateY(-150%);
  opacity: 0;
}

.show_header {
  transform: translateY(0);
  box-shadow: none;
}

.scrolling {
  transform: translateY(0);
  box-shadow: 0 3px 45px rgba(0, 0, 0, 0.15);
}

.no-scroll {
  overflow: hidden;
}

/* Base style for menu links */
.menulinks {
  @apply relative rounded-full overflow-hidden;
}

/* Media query for larger screens */
@media (min-width: 767px) {
  .menulinks {
    padding: 7px 12px;
  }

  /* Pseudo-element for the animated background */
  .menulinks::before {
    content: "";
    position: absolute;
    border-radius: 9999px;
    top: 0;
    left: 50%;
    right: 50%;
    bottom: 0;
    background-color: #ededed;
    z-index: -1;
    transition: left 0.3s ease, right 0.3s ease;
  }

  /* Hover state */
  .menulinks:hover::before {
    left: 0;
    right: 0;
  }
}

.hidden-toc {
  display: none;
}

/* Media query for desktop screens */
@media (min-width: 769px) {
  .hidden-toc {
    display: block;
    /* Always show TOC on desktop */
  }
}
.bttn {
  @apply font-sans text-lg font-medium border border-solid rounded-full py-5 pl-6 pr-6;
}

@media (min-width: 1024px) {
  .banner1_btn_solid {
    font-size: 1.38rem;
  }
}

.banner_simple_content2 {
  @apply flex justify-center md:items-center md:gap-2 text-sm;
}

@media (max-width: 767px) {
  .banner_simple_content2 {
    max-width: 81%;
    margin-left: auto;
    margin-right: auto;
  }
}

.banner_simple .rating_wrapper {
  @apply flex justify-center items-center gap-10 mt-10;
}

@media (max-width: 767px) {
  .banner_simple .rating_wrapper {
    @apply flex-col gap-4;
  }
}

.banner_simple .rating {
  @apply flex  justify-center items-center gap-2;
}

@media (max-width: 767px) {
  .banner_simple .rating {
    @apply flex-col gap-4;
  }
}

.banner_simple .rating span,
.community_wrapper span {
  @apply text-base font-semibold;
}

.community_wrapper {
  @apply flex justify-center items-center gap-2;
}

@media (max-width: 767px) {
  .community_wrapper {
    @apply flex-col gap-4 mt-5;
  }
}

.community_images {
  @apply flex relative;
}

.community_images img {
  @apply flex object-cover object-center rounded-full border-[3px] border-white;
}
.community_images img:nth-child(1) {
  z-index: 10;
}
.community_images img:nth-child(2) {
  z-index: 9;
  margin-left: -10px;
}
.community_images img:nth-child(3) {
  z-index: 8;
  margin-left: -10px;
}

.big_bullets {
  background-color: #dae86c;
  width: 75px;
  height: 75px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}

.sticky_section h3 {
  font-weight: 500;
  line-height: 1.25;
}

.sticky_content {
  letter-spacing: 0;
}

.sticky_content_title {
  font-size: 45px;
  color: #002e3b;
  line-height: 1.25;
  text-align: left;
}
.sticky_content h3 {
  font-size: clamp(1.2rem, 1.5vw + 0.6rem, 1.5rem);
}

.scroller {
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-behavior: smooth;
}

.scroller::-webkit-scrollbar {
  display: none;
}

.scroller-content {
  display: inline-flex;
  transition: transform 0.3s ease;
}

.scroller-item {
  flex: 0 0 auto;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(calc(-1 * var(--scroll-width)));
  }
}

.scroller-content {
  animation: scroll 30s linear infinite;
}

.scroller:hover .scroller-content {
  animation-play-state: paused;
}

/* Marketing Funnel CSS */

.progress-bar-container {
  @apply flex items-center justify-center mb-10;
}

.progress-step {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background-color: #ccc;
}

.progress-line {
  flex-grow: 1;
  height: 2px;
  background-color: #ccc;
  margin: 0 5px;
}

.progress-step.active,
.progress-step.completed {
  background-color: #9acd32; /* Lime green color */
}

.progress-line.active {
  background-color: #9acd32;
}

.option-container {
  display: flex;
  justify-content: center;
  gap: 20px;
}

.option {
  text-align: center;
}

.option img {
  width: 80px;
  height: 80px;
  margin-bottom: 10px;
}

.radio-options label {
  display: block;
  background-color: #f0f0f0;
  border-radius: 25px;
  padding: 10px 20px;
  margin-bottom: 10px;
}

.input-with-slider {
  position: relative;
  margin-bottom: 20px;
}

.input-with-slider input[type="number"] {
  width: 100%;
  padding: 10px;
  font-size: 18px;
  border-radius: 25px;
}

.input-with-slider input[type="range"] {
  width: 100%;
  margin-top: 10px;
}

.next-step,
.prev-step {
  @apply flex-1 bg-[#38b6ff] text-white border-none p-2 rounded-full text-center cursor-pointer;
}

.next-step::after {
  content: " →";
}

.prev-step {
  background-color: #35384b;
}

.cta-direction {
  @apply flex flex-col md:flex-row justify-between gap-3 mt-10 mb-8;
}
.light_text {
  line-height: 1.8;
  @apply mb-4 mt-4 text-[#787878] text-base text-center;
}

.text-center {
  text-align: center;
}

select.light_text.text-left {
  text-align: left;
}

.light_text.text-left li {
  text-align: left;
}

.inline-block {
  display: inline-block;
}

.funnel_container .step h3 {
  @apply mb-8 mt-5 text-4xl font-bold text-center;
}

.step_heading_one {
  letter-spacing: -2.5px;
}

.progress-text {
  font-size: 15px;
  text-align: center;
  margin-top: 10px;
}

.funnel_container {
  @apply w-full max-w-2xl mx-auto py-16 px-3;
}

@media (max-width: 768px) {
  .funnel_container {
    @apply py-8;
  }
}

.m_types_container {
  display: flex;
  flex-wrap: wrap;
}

.infusion-checkbox {
  width: 30%;
  text-align: center;
}

@media (min-width: 768px) {
  .infusion-checkbox {
    width: 25%;
  }
}

.icons input[type="checkbox"] {
  display: none;
}

.infusion-checkbox input[type="checkbox"] + label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 10px;
  width: auto;
  cursor: pointer;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
  position: relative;
  top: 0;
  font-size: 2rem;
  font-weight: 400;
  color: #595959;
}

.icons input[type="checkbox"] + label i {
  position: relative;
  display: block;
  height: 75px;
  width: 75px;
  -webkit-box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.02);
  box-shadow: 1px 10px 30px rgba(0, 0, 0, 0.02);
  background-color: #fff;
  background-size: contain;
  background-position: 50%;
  border-radius: 50%;
  border: 5px solid #f9f9f9;
  cursor: pointer;
  background-repeat: no-repeat;
}

.icons input[type="checkbox"]:checked + label i {
  border: 5px solid #38b6ff;
  height: 75px;
  width: 75px;
}

.icons input[type="checkbox"] + label:hover i {
  border: 5px solid #38b6ff;
  height: 75px;
  width: 75px;
}

.icons input[type="checkbox"] + label:hover i:after {
  content: " ";
  background-color: #38b6ff;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzE1LjI3IDI0MS4xMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMzA1LjMgOS45N2EzNC4zMiAzNC4zMiAwIDAwLTQ4LjM4IDBMMTA4LjMgMTU4LjU5bC00OS45NC00OS45NGEzNC4zMiAzNC4zMiAwIDAwLTQ4LjM4IDAgMzQuMyAzNC4zIDAgMDAwIDQ4LjM4bDc0LjEgNzQuMWEzNC4zOCAzNC4zOCAwIDAwNDguNDQgMEwzMDUuMyA1OC4zNWEzNC4zMiAzNC4zMiAwIDAwMC00OC4zOHonIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: 50%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

/* i.icon-facebook {
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgNTEyIDUxMC41MycgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMjU2IDBDMTE0LjYyIDAgMCAxMTQuNjIgMCAyNTZjMCAxMzAuNTUgOTcuNzIgMjM4LjI2IDIyNCAyNTRWMzM2aC02NHYtODBoNjR2LTY0YTk2IDk2IDAgMDE5Ni05Nmg2NHY4MGgtMzJjLTE3LjY2IDAtMzItMS42Ni0zMiAxNnY2NGg4MGwtMzIgODBoLTQ4djE2Ny45M0M0MzAuNDEgNDc1LjUyIDUxMiAzNzUuMjkgNTEyIDI1NiA1MTIgMTE0LjYyIDM5Ny4zOCAwIDI1NiAweicgZmlsbD0nIzE5NzZkMicvPjxnIGZpbGw9JyNmZmYnPjxwYXRoIGQ9J00zNTQuNzkgMTkuNzdsLTIuMzgtMXpNMzg2LjY2IDM1LjgzbC4xMS0uMWEyNTQuMyAyNTQuMyAwIDAwLTMwLjU0LTE1LjM2IDI1Ni4zMiAyNTYuMzIgMCAwMTMwLjQzIDE1LjQ2ek0zMjAgNTAzLjkzVjMzNmg0OGwzMi04MGgtODB2LTY0YzAtMTcuNjYgMTQuMzQtMTYgMzItMTZoMzJWOTZoLTY0YTk2IDk2IDAgMDAtOTYgOTZ2NjRoLTY0djgwaDY0djE3NHM2Mi4xOSAzLjIgOTYtNi4wN3pNMTQ5LjI5IDQ4OC43NGwtLjctLjMzek0xNTUuODQgNDkxLjY0Yy0uOS0uMzgtMS44LS43OC0yLjctMS4xOC44Ni40IDEuOC44IDIuNyAxLjE4eicvPjwvZz48L3N2Zz4=);
} */

.icons input[type="checkbox"]:checked + label i:after {
  content: " ";
  background-color: #38b6ff;
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzE1LjI3IDI0MS4xMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMzA1LjMgOS45N2EzNC4zMiAzNC4zMiAwIDAwLTQ4LjM4IDBMMTA4LjMgMTU4LjU5bC00OS45NC00OS45NGEzNC4zMiAzNC4zMiAwIDAwLTQ4LjM4IDAgMzQuMyAzNC4zIDAgMDAwIDQ4LjM4bDc0LjEgNzQuMWEzNC4zOCAzNC4zOCAwIDAwNDguNDQgMEwzMDUuMyA1OC4zNWEzNC4zMiAzNC4zMiAwIDAwMC00OC4zOHonIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
  background-repeat: no-repeat;
  background-size: 12px auto;
  background-position: 50%;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  top: -5px;
  right: -5px;
}

.infusion-field-label-container span {
  display: block;
  font-size: 1rem;
}

i.icon-facebook {
  background-image: url(https://cdn.jsdelivr.net/gh/edent/SuperTinyIcons@master/images/svg/facebook.svg);
}

i.icon-adwords {
  background-image: url("/img/adwords.png");
}

i.icon-seo {
  background-image: url("/img/googleseo.png");
}

i.icon-tv {
  background-image: url("/img/tv.png");
}

i.icon-radio {
  background-image: url("/img/icon-radio.png");
}

i.icon-print {
  background-image: url("/img/icon-print.png");
}

i.icon-other {
  background-image: url("/img/icon-other.png");
}

i.icon-none {
  background-image: url("/img/icon-none.png");
}

.country-select-wrapper {
  position: relative;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

#countrySelect {
  width: 100%;
  padding: 10px 15px;
  padding-left: 45px;
  border: 1px solid #ccc;
  border-radius: 5px;
  appearance: none;
  -webkit-appearance: none;
  background-color: white;
  color: #787878;
  font-size: 16px;
  margin-top: 15px;
  line-height: 1.8;
  /* background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position: right 10px center; */
}

#countrySelect option {
  padding-left: 30px;
  background-repeat: no-repeat;
  background-position: 10px center;
  background-size: 20px;
}

.country-flag {
  position: absolute;
  left: 10px;
  top: 50%;
  transform: translateY(-50%);
  width: 20px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.options-container {
  margin-top: 25px;
}

.options-container.list {
  @apply flex flex-row flex-wrap gap-4;
}

.options-container input[type="radio"] {
  display: none;
}

.options-container.list .infusion-checkbox,
.options-container.list .infusion-option {
  @apply block w-full;
}

@media (min-width: 768px) {
  .options-container.list .infusion-checkbox,
  .options-container.list .infusion-option {
    @apply basis-[48%];
  }
}

.options-container input[type="radio"] + label {
  /* display: flex;
  align-items: center;
  background: #fff;
  -webkit-box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.08);
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 100px;
  padding: 10px;
  text-align: left;
  width: 100%;
  cursor: pointer;
  margin-bottom: 10px;
  max-width: 540px;
  font-size: 1.2rem !important;
  font-weight: 400;
  color: #595959; */
  @apply flex items-center bg-white shadow-sm rounded-[100px] p-2 text-left w-full cursor-pointer mb-3 max-w-[540px] text-sm font-normal text-[#595959] font-sans;
}

.options-container input[type="radio"] + label:hover {
  background-color: #e4f2fa;
  color: #000;
}

.options-container input[type="radio"] + label:before {
  content: " ";
  background-repeat: no-repeat;
  background-position: 50%;
  border-radius: 100px;
  display: block;
  height: 30px;
  width: 30px;
  background-color: #eaeced;
  float: left;
  margin-right: 14px;
  opacity: 0.5;
}

.options-container input[type="radio"] + label:hover:before,
.options-container input[type="radio"]:checked + label:before {
  background-image: url(data:image/svg+xml;charset=utf-8;base64,PHN2ZyB2aWV3Qm94PScwIDAgMzE1LjI3IDI0MS4xMScgeG1sbnM9J2h0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnJz48cGF0aCBkPSdNMzA1LjMgOS45N2EzNC4zMiAzNC4zMiAwIDAwLTQ4LjM4IDBMMTA4LjMgMTU4LjU5bC00OS45NC00OS45NGEzNC4zMiAzNC4zMiAwIDAwLTQ4LjM4IDAgMzQuMyAzNC4zIDAgMDAwIDQ4LjM4bDc0LjEgNzQuMWEzNC4zOCAzNC4zOCAwIDAwNDguNDQgMEwzMDUuMyA1OC4zNWEzNC4zMiAzNC4zMiAwIDAwMC00OC4zOHonIGZpbGw9JyNmZmYnLz48L3N2Zz4=);
  background-color: #38b6ff;
  background-size: 50% auto;
}

.revenue-input-container {
  text-align: center;
  margin-bottom: 20px;
}

#currentRevenue,
#targetRevenue {
  font-size: 24px;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  background-color: #f0f0f0;
  text-align: center;
  width: 200px;
}

.slider-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto 20px;
}

.options-container_numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.options-container_numbers .infusion-option {
  width: calc(10% - 10px);
  max-width: 50px;
}

.options-container_numbers input[type="radio"] {
  display: none;
}

.options-container_numbers input[type="radio"] + label {
  background: #fff;
  box-shadow: 1px 2px 6px rgba(0, 0, 0, 0.08);
  border-radius: 20%;
  cursor: pointer;
  position: relative;
  transition: background-color 0.3s ease;
  padding: 21px;
  display: inline-block;
}

.options-container_numbers input[type="radio"] + label span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.options-container_numbers input[type="radio"] + label:before {
  display: none;
}

.options-container_numbers input[type="radio"]:checked + label {
  background-color: #38b6ff;
  color: white;
}

@media (max-width: 768px) {
  .options-container_numbers .infusion-option {
    width: calc(20% - 10px);
  }
}

.funnel_container .step input,
.funnel_container .step textarea {
  @apply p-2 w-full border border-solid rounded-lg bg-[#efefef] shadow-sm;
}

.funnel_container .step select {
  @apply p-2 w-full border border-solid rounded-lg bg-[#efefef];
}

.no-website-container {
  @apply mt-8;
}

.funnel_container .step .no-website-container input {
  @apply w-auto mr-2;
}

#currentRevenueSlider,
#targetRevenueSlider {
  @apply w-full h-2 p-1 rounded-3xl bg-[#d3d3d3] outline-none opacity-70 transition-opacity appearance-none;
}

#currentRevenueSlider:hover,
#targetRevenueSlider:hover {
  opacity: 1;
}
#currentRevenueSlider::-webkit-slider-thumb,
#targetRevenueSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #5ac8fa;
  cursor: pointer;
}

#currentRevenueSlider::-moz-range-thumb,
#targetRevenueSlider::-moz-range-thumb {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: white;
  cursor: pointer;
}

#currentRevenueSlider::-webkit-slider-thumb {
  border: 1px solid #5ac8fa;
}

#targetRevenueSlider::-webkit-slider-thumb {
  border: 1px solid #5ac8fa;
}

#currentRevenueSlider::-moz-range-thumb {
  border: 1px solid #5ac8fa;
}

#targetRevenueSlider::-moz-range-thumb {
  border: 1px solid #5ac8fa;
}

.home_service h2 {
  line-height: 1.2;
}

.home_service h3 {
  font-size: clamp(1.2rem, 1.5vw + 0.6rem, 1.5rem);
  line-height: 1.2;
  margin-bottom: 20px;
}

.homeservice_description {
  margin-bottom: 100px;
}
@media (max-width: 767px) {
  .homeservice_description {
    margin-bottom: 80px;
  }
}

.homeservice_rt_content ul,
.homeservice_rt_content ol {
  margin-bottom: 50px;
}

.primary_btn {
  @apply bg-[#38b6ff] hover:bg-[#1a94d6] !text-white px-6 py-5 rounded-full transition duration-300 text-[18px];
}

@media (max-width: 1499px) {
  .primary_btn {
    @apply text-base;
  }
}

.primary_btn--big {
  @apply px-10 py-4 text-lg lg:text-[24px];
}

.primary_btn--small {
  @apply px-4 py-2;
}

@media (max-width: 767px) {
  .banner_simple {
    padding-top: 30px !important;
    padding-bottom: 30px !important;
  }
  .banner_simple h1 {
    line-height: 1.2;
  }
}

.banner_simple_intro h1 i {
  @apply relative not-italic inline-block;
}

.banner_simple_intro h1 i::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 30px;
  background: url("https://a.storyblok.com/f/305962/0x0/d8e9bfd9bc/squiggle-underline.svg?cv=1727693350939")
    center no-repeat;
  bottom: -10px;
  left: 0;
  /* Initial state to hide the underline */
  clip-path: inset(0 100% 0 0);

  /* Animation properties */
  animation: reveal-underline 2s cubic-bezier(0.65, 0, 0.35, 1) forwards;
}

@media (min-width: 767px) and (max-width: 1023px) {
  .banner_simple_intro h1 {
    line-height: 60px;
  }
  .banner_simple_intro h1 i::after {
    height: 17px;
    bottom: -8px;
  }
  .banner_simple_intro p {
    line-height: 1.7;
  }
}

@media (min-width: 1366px) {
  .banner_simple_intro h1 {
    font-size: 65px;
    line-height: 78px;
  }
}

.banner_simple_inner {
  padding: 0 1.5rem;
}
@media (min-width: 1279px) {
  .banner_simple_inner {
    padding: 0 10rem;
  }
}

.eyebrow_text {
  @apply bg-[#d9eaf5] text-[#38b6ff] font-semibold text-base rounded-3xl px-4 py-1;
}
@media (max-width: 767px) {
  .eyebrow_text {
    @apply inline-block;
  }
}

/* Define the keyframes for the animation */
@keyframes reveal-underline {
  0% {
    clip-path: inset(0 100% 0 0); /* Hidden */
  }
  100% {
    clip-path: inset(0 0 0 0); /* Fully revealed */
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .banner_simple_intro h1 i::after {
    height: 25px;
    bottom: -26px;
  }
}

@media (max-width: 767px) {
  .banner_simple_intro h1 i::after {
    height: 18px;
    bottom: -6px;
  }
}

.review_name h3 {
  @apply text-xl;
}
.review_name p,
.review_description p {
  @apply text-base;
}

.review {
  @apply border border-solid border-[#fff3] p-4 rounded-lg;
}

.review_section_title {
  @apply text-center text-white mb-24 leading-snug;
}
.review_section_title h2 {
  @apply font-semibold;
}

@media (max-width: 1399px) {
  .simple_content_grid .sm_grid {
    @apply !grid-cols-2;
  }
}

@media (max-width: 1199px) {
  .simple_content_grid .inner_grid {
    @apply !col-span-full;
  }
  .simple_content_grid h2 {
    line-height: 1.2;
  }
}

.simple_content_grid h2 {
  font-size: 2em;
  padding-top: 0;
}
.simple_content_grid h3 {
  position: relative;
  font-size: 1.5em;
  line-height: 1.15;
}

.simple_content_grid h3:before {
  content: "";
  position: absolute;
  top: -17px;
  left: 2px;
  width: 10px;
  height: 10px;
  background-color: #35384b;
  transform: rotate(45deg);
}

.drop_link {
  border-bottom: 1px solid #7c7c7c75;
  padding-bottom: 9px;
}

.drop_link:last-child {
  border-bottom: none;
}
@media (max-width: 767px) {
  .right_menu {
    margin-top: 30px;
  }
}

.footer_section {
  @apply flex items-center;
}
.footer_column {
  @apply flex flex-col mt-5 md:mt-0;
}

.footer_column h3 {
  @apply text-[15px] font-medium text-[#35384b] mb-0 pb-2;
}

.footer_column a {
  @apply text-[15px] font-normal text-[#35384b] hover:text-gray-900 leading-loose;
}

.contact_us h1 {
  @apply text-3xl font-semibold text-center;
}

.homeservice_rt_content ul li {
  @apply relative flex leading-7 mb-4 gap-3;
}

.homeservice_rt_content ul li::before {
  content: "";
  margin-top: 7px;
  width: 12px;
  height: 12px;
  min-width: 12px;
  border-radius: 50%;
  background-color: #f27859;
  animation: pulse-animation 2.5s linear infinite;
}

@keyframes pulse-animation {
  0% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.7), 0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  40% {
    box-shadow: 0 0 0 12px rgba(255, 109, 74, 0.0),
      0 0 0 0 rgba(255, 109, 74, 0.7);
  }
  80% {
    box-shadow: 0 0 0 12px rgba(255, 109, 74, 0.0),
      0 0 0 8px rgba(255, 109, 74, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(255, 109, 74, 0.0),
      0 0 0 8px rgba(255, 109, 74, 0);
  }
}
